body{
    background-color: #141414;
}

.fundoescuro{
    background-color: #0b0b0b;
}

.soukoku{
    width: 29rem;
    
}

.titulo{
    color: white;
    font-family: 'CS Rocky', sans-serif;
    font-size: 8em;
    text-shadow: 0.1em 0.1em #77383d;
    padding-top: 10vh;
}

.titulosecundario{
    font-family: 'CS Rocky', sans-serif;
    color: white;
    font-size: 3em;
    padding-left: 40vw;
    display: flex;
    justify-content: right;
}

.separacao{
    display: flex;
    flex-direction: row;
}

.portfolios{
    width: fit-content;
    position: absolute;
    right: 6vw;
    top: 1.5rem;
    display: flex;
    gap: 1.5em;
}

.port{
    border: none;
    font-size: 1rem; 
    height: 2.5rem;
    border-radius: 1rem;
    font-family: 'CS Rocky', sans-serif;
    box-shadow: 0.3em 0.4em #77383d;
}

a{
    text-decoration: none;
    color: black;
}

.anoatual{
    position:absolute;
	left:95%;
    bottom: 3%;
    width: 8vh;
}

.caixa1{
    padding-top: 2em;
    width: 45rem;
}

.linha1{
    padding-top: 4em;
}

.linha2{
    padding-top: 1em;
}

.separacao2{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.titulosobre{
    color: white;
    font-family: 'CS Rocky', sans-serif;
    font-size: 5.9em;
    text-shadow: 0.1em 0.1em #77383d;
    margin: 0;
    
}

.quadrado{
    padding-top: 1.5em;
    width: 30em;
}

.caixa2{
    padding-top: 4.5em;
    
}

.caixa3{
    width: 37vh;
    padding-top: 1.5em;
}

.textosobre{
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    border: 0.16em solid rgb(255, 255, 255);
    text-align: center;
    width: 12.1em;
}

.lado2{
   padding-left: 30vw;
}

.imagemsobre{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 9rem;
    padding-left: 7vw;
    width: 40rem;
}

.separacao3{
    display: flex;
    flex-direction: row;
    background-color: #0b0b0b;
    padding-bottom: 4em;
}

.titulocurriculo{
    padding-left: 1em;
    color: white;
    font-family: 'CS Rocky', sans-serif;
    font-size: 5em;
    text-shadow: 0.1em 0.1em #77383d;
}

.curriculo{
    padding-left: 12em;
    padding-top: 1em;
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px #252525);

}

.curriculo:hover{
    opacity: 0.8;
    transform: scale(1.2);
}

.titulocertificado{
    padding-top: 5em;
    color: white;
    font-family: 'CS Rocky', sans-serif;
    font-size: 3em;
    text-shadow: 0.1em 0.1em #77383d;
}

.certificados{
    display: flex;
    gap: 3em;
}

.certf{
    transition: all 0.3s ease-in-out;
}

.certf:hover{
    transform: scale(2.0);
}

.reto{
    display: flex;
    flex-direction: row;
}

.botoescurriculo{
    display: flex;
    gap: 2em;
    padding-top: 18em;
    padding-left: 3em;
}

.titulomaterias{
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-family: 'CS Rocky', sans-serif;
    font-size: 4em;
    text-shadow: 0.1em 0.1em #77383d;
    display: flex;
    justify-content: center;
}

.materias{
    display: flex;
    gap: 2em;
    justify-content: center;
    
}

.icone{
    width: 20em;
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px #252525);

}

.icone:hover{
    opacity: 0.8;
    transform: scale(1.2);
}


.nomematerias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13em;
    padding-bottom: 6em;
}

.nome{
    color: white;
    font-family: 'CS Rocky', sans-serif;
}

.separacao5{
    background-color: #0b0b0b;
}

.nomematerias2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    padding-bottom: 6em;
}

.nomematerias3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12em;
    padding-bottom: 6em;
}
